.NavBar {
    background-color: rgba(5,0,67,.51);
    text-decoration: none;
  }
.linksColor {
    color: white;
    text-decoration: none;
}
.dangerColor {
  color: red;
  text-decoration: none;
}
.dangerColor:hover {
  color: pink;
  text-decoration: none;
}

.linksColor:hover{
  color: greenyellow;
}

.selected{
  color: greenyellow;
}